$body-color: #fff;
$text-color: #757575;
$link-color: #2196F3;
$title-color: #212121;
$bg-color: #F5F4FA;
$caption-color: #2F303A;
$heading-color: #FFFFFF;
$buttons-hover: #188CE8;
$icon-color: #AFB1B8;