h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $body-color;
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
    color: $title-color;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-color;
}

h2 {
    color: $title-color;
}

p {
    color: $title-color;
}

ul {
    list-style: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.container-flex {
    display: flex;
    align-items: baseline;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.benefits--visually-hidden,
.filter--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contacts a,
.contacts__footer a {
    color: $text-color;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: $link-color;
        color: $heading-color;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}